.hero {
  background-image: url("image/background.jpg");
  background-size: cover; 
  background-position: center -120px;    
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 20px 0;
    border-bottom: 1px solid rgb(169, 169, 169);
}
body {
    font-family: Arial, sans-serif;
    margin: 0 120px;
}

.design {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto 50px auto;
    text-align: center;
    width: 100%; 
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none; 
    color: rgb(169, 169, 169); 
}

.styling {
    padding-top: 30px;
    font-size: 20px;
    color: #6f5eff;
}

.room-cards {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    padding-bottom: 120px;
}

.room-card {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.room-card img {
    width: 100%;
    height: 60vh; 
    object-fit: cover;
}

.room-card button {
    background-color:#6f5eff;
    color:white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;

}
footer {
    background-color: #f5f5f5;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 0;
    margin: 0 -120px; 
    width: auto; 
}

footer h4 {
    font-size: 14px;
    font-weight: bold;
}

/* Footer content */
footer p {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 15px;
}
footer ul{
    margin:0;
    padding:0;
}
footer li {
    list-style-type: none;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 10px;
}
footer a{
    text-decoration: none;
    color:black;
    
}
footer section {
    text-align: left; 
}
.follow {
    background-color: #f5f5f5;
    padding-left: 160px;
    margin: 0 -120px; 
    width: auto; 
    padding-top: 0;
    padding-bottom: 40px;
}
.follow button{
    background-color:#6f5eff;
    color:white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    
}